@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @property --gradient-animation-color {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
  }

  :root {
    --base-white: #ffffff;
    --base-pale: #f1f5f9;
    --base-gray: #94a3b8;

    --mindsight-primary: #9114c4;
    --mindsight-primary-rgb: 145, 20, 196;
    --mindsight-secondary: #54bbc6;
    --mindsight-secondary-rgb: 255, 149, 206;
    --mindsight-morning: #0cc0df;
    --mindsight-morning-rgb: 12, 192, 223;
    --mindsight-noon: #ffde59;
    --mindsight-noon-rgb: 255, 222, 89;
    --mindsight-night: #000070;
    --mindsight-night-rgb: 0, 0, 112;

    --background: var(--base-white);
    --foreground: var(--base-pale);

    --muted: var(--base-pale);
    --muted-foreground: var(--base-gray);

    --popover: var(--base-white);
    --popover-foreground: hsl(222.2 47.4% 11.2%);

    --border: var(--base-pale);
    --input: var(--mindsight-night);

    --card: var(--base-white);
    --card-foreground: hsl(222.2 47.4% 11.2%);

    --primary: var(--mindsight-primary);
    --primary-foreground: var(--base-white);

    --secondary: var(--mindsight-secondary);
    --secondary-foreground: var(--base-white);

    --morning: var(--mindsight-morning);
    --morning-foreground: var(--base-white);

    --noon: var(--mindsight-noon);
    --noon-foreground: var(--mindsight-night);

    --night: var(--mindsight-night);
    --night-foreground: var(--base-white);

    --accent: var(--base-pale);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: rgb(252, 32, 98);
    --destructive-foreground: var(--base-pale);

    --ring: var(--mindsight-secondary);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

.headroom--pinned {
  background: rgba(0, 0, 0, 0.5);
}

.ceo-frame {
  --frame-color: var(--base-pale);

  stop[class$='gradient-start'] {
    stop-color: rgba(var(--mindsight-primary-rgb), 0.5);
  }

  stop[class$='gradient-end'] {
    stop-color: rgba(var(--mindsight-morning-rgb), 0.5);
  }

  path[class$='fill'] {
    fill: url(#ceo-frame-svg-gradient);
  }

  path[class$='outer-border'] {
    fill: var(--frame-color);
    stroke: var(--frame-color);
  }
}

.mental-health-frame {
  --frame-color: var(--mindsight-morning-rgb);

  stop[class$='gradient-start'] {
    stop-color: rgba(var(--frame-color), 0.5);
  }

  stop[class$='gradient-end'] {
    stop-color: rgba(var(--frame-color), 0.5);
  }

  path[class$='fill'] {
    fill: url(#mental-health-frame-svg-gradient);
  }

  path[class$='outer-border'] {
    fill: rgb(var(--frame-color));
    stroke: rgb(var(--frame-color));
  }
}

.nutrition-frame {
  --frame-color: var(--mindsight-primary-rgb);

  stop[class$='gradient-start'] {
    stop-color: rgba(var(--frame-color), 0.5);
  }

  stop[class$='gradient-end'] {
    stop-color: rgba(var(--frame-color), 0.5);
  }

  path[class$='fill'] {
    fill: url(#nutrition-frame-svg-gradient);
  }

  path[class$='outer-border'] {
    fill: rgb(var(--frame-color));
    stroke: rgb(var(--frame-color));
  }
}

.marketing-frame {
  --frame-color: var(--mindsight-night-rgb);

  stop[class$='gradient-start'] {
    stop-color: rgba(var(--frame-color), 0.5);
  }

  stop[class$='gradient-end'] {
    stop-color: rgba(var(--frame-color), 0.5);
  }

  path[class$='fill'] {
    fill: url(#marketing-frame-svg-gradient);
  }

  path[class$='outer-border'] {
    fill: rgb(var(--frame-color));
    stroke: rgb(var(--frame-color));
  }
}

.tech-frame {
  --frame-color: 255, 255, 255;

  stop[class$='gradient-start'] {
    stop-color: rgba(var(--frame-color), 0.5);
  }

  stop[class$='gradient-end'] {
    stop-color: rgba(var(--frame-color), 0.5);
  }

  path[class$='fill'] {
    fill: url(#tech-frame-svg-gradient);
  }

  path[class$='outer-border'] {
    fill: var(--base-pale);
    stroke: var(--base-pale);
  }
}
